h1{
    padding: 20px;
    text-align: center;
}
.contenedor {
    text-align: center;
}

img {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
.menu {
    list-style: none; 
    display: flex; 
    justify-content: center; 
}

.menu li {
    margin: 0 10px; 
}